body{
    background-image: url('https://cdn.shopify.com/s/files/1/0662/0785/articles/EasyHealthySnacks_en65ab5213130c9862172ac11435f055d965ab5213130c9862172ac11435f055d9_1024x1024.jpg?v=1614612488');
    background-repeat: no-repeat;
    background-size: cover;
}

a { 
    color: inherit; 
    text-decoration: none;
} 